* {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    background-color: hsl(204, 43%, 93%);
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(141, 141, 141, 0.24);
    box-shadow: 0px 0px 19px 3px rgba(141, 141, 141, 0.24);
}

.header {
    padding: 30px;
}

.header>h1 {
    color: hsl(179, 62%, 43%);
}

.header>h2 {
    color: hsl(71, 73%, 54%);
}

.header>p {
    color: #98a6bd;
}

.body {
    display: flex;
}

.body>.box-1 {
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    padding: 25px;
    border-radius: 0 0 0 5px;
    color: white;
}

.body>.box-2 {
    background-color: hsl(179deg 59% 50%);
    width: 50%;
    padding: 25px;
    border-radius: 0 0 5px 0;
    color: white;
}

.body>.box-1>.boton {
    height: 50px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border-style: none;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(141, 141, 141, 0.24);
    box-shadow: 0px 0px 19px 3px rgba(141, 141, 141, 0.24);
}

.box-2>.list {
    padding-left: 0px;
    list-style-type: none;
}

@media (max-width: 375px) {
    .card {
        width: min-content;
        height: auto;
    }
    .body {
        display: block;
        width: max-content;
    }
    .body>.box-1 {
        width: auto;
        border-radius: 0 0 0 0;
    }
    .body>.box-2 {
        width: auto;
        border-radius: 0 0 5px 5px;
    }
}